template(name='transmission')
  .container-fluid
    h1 Transmission
      small#refresh.btn.btn-default.navbar-right Refresh

    .row
      table.table
        tbody
          each trans
            tr
              td #{name}
              td #{status}
              td #{ratio}
              td #{size}
    .row
      p Download directory #{download_directory}
      button#process.btn.btn-primary Process

