head
  title Media Strike

    // form.new-folder.form-inline
    //   .form-group
    //     input.form-control(type="text",name="text",placeholder="Type to add new folder")
    //   button.btn.btn-primary(type="submit") Add


template(name="folder")
  // if editing_folder
  //   input.form-control(type="text", placeholder="Type to add folder", value="#{folder}", id="#{_id}")
  // else
  .folder-entry.bg-info #{folder}
    span.glyphicon.glyphicon-remove
  // span.input-group-addon
  //   span.glyphicon.glyphicon-remove

template(name="folder_dialog")
  ol.breadcrumb
    each folder_components
      li
        if root
          a.folder-component
            span.glyphicon.glyphicon-hdd
        else
          a.folder-component #{compo}
    li.active #{last_component}

  .list-group.pre-scrollable
    each folders
      if is_dir
        a.list-group-item.folder.list-group-item-info #{folder}
      else
        a.list-group-item.disabled #{folder}

template(name='layout')
  header
    +header

  .container-fluid
    +yield

template(name='settings')
  .container-fluid
    h1 Settings

    .row
      .left
        h4 TV Show Folders
      .fixed-fixed
        ul.list-group
          each tvshow_folders
            li.list-group-item
              | #{folder}
              span.badge.remove-folder
                span.glyphicon.glyphicon-remove
        div
          button.btn.btn-primary#add-folder(type="button") Add Folder

template(name='header')
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Media Strike
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          +menu_item(menu='settings' title='Settings')
          +menu_item(menu='tvshows' title='TV Shows')
template(name='menu_item')
  li(class="{{active menu}}")
    a(href="{{pathFor route=menu}}") #{title}
