head
  title Media Strike

body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Media Strike
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="#") Settings
          li
            a(href="#") TV Shows

  .container-fluid
    h1 Settings

    .row
      .left
        h4 TV Show Folders
      .fixed-fluid
        .btn-group-vertical(role="group", aria-label="...")
          each folders
            +folder
        p
          button.btn.btn-primary#add-folder(type="button") Add Folder

    // form.new-folder.form-inline
    //   .form-group
    //     input.form-control(type="text",name="text",placeholder="Type to add new folder")
    //   button.btn.btn-primary(type="submit") Add


template(name="folder")
  // if editing_folder
  //   input.form-control(type="text", placeholder="Type to add folder", value="#{folder}", id="#{_id}")
  // else
  .folder-entry.bg-info #{folder}
    span.glyphicon.glyphicon-remove
  // span.input-group-addon
  //   span.glyphicon.glyphicon-remove

template(name="folderDialog")
  h4.current-folder.bg-info #{currentFolder}
  each folders
    .folder-entry #{folder}
    // +folder
